<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629173650503-kc1gre7mvld20dnrl8mhl9dg3toljhph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629173650503-kc1gre7mvld20dnrl8mhl9dg3toljhph</string>
	<key>API_KEY</key>
	<string>AIzaSyDL_mFa03imSqNe_nwfEp5aeNreO-a2okQ</string>
	<key>GCM_SENDER_ID</key>
	<string>629173650503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.entprojecttracker</string>
	<key>PROJECT_ID</key>
	<string>jansakti-1aea3</string>
	<key>STORAGE_BUCKET</key>
	<string>jansakti-1aea3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629173650503:ios:1ca1eefc82a1eadc961d62</string>
</dict>
</plist>