<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802856385303-15gou9uetnlivkbdfg2dl4lt7bff8f8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802856385303-15gou9uetnlivkbdfg2dl4lt7bff8f8u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802856385303-48lhmoq32ur0j1noh76tn7hphao2ffkl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqiWgkQDDl8Kjhxi6ALoz7oGyk7K1EdAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>802856385303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.entprojecttracker</string>
	<key>PROJECT_ID</key>
	<string>jansakti-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>jansakti-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802856385303:ios:34c606a5ad6ec274219552</string>
</dict>
</plist>